*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan',sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 64px;
    color: #222;
}
h4{
    font-size: 28px;
    
    color: #222;
}
h6{
    font-size: 12px;
    font-weight: 700;
    color: #222;
}



p{
    font-size: 16px;
    color: #465652;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}
body{
    width: 100%;
}

button.normal{
    font-size: 14px;
    font-weight:600;
    padding: 15px 30px;
    color: #000;
   background-color:#fff ; 
    border-radius: 4px;
    border: none;
    outline: none;
    transition: 0.2s ease;
}


#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 80px ;

    background: #e3e6f3;
    box-shadow: 0 5px 15px rgb(0,0, 0.06);
     
    z-index: 1;
    position: sticky;
    top: 0;
    left: 0;

}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;

}

#navbar li{
      list-style: none;
      padding: 0 20px;
     
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a ;

    transition: 0.3s ease;
    position: relative;
}

#navbar li a:hover,
#navbar li a.active{
    color: #088178;

}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;
}


/* hero section  */

#hero {
    background-image:url(image/hero4.png);
    height: 90vh;
    width: 100%;
    background-size:cover;
    background-position: top 25%  right 0;
    padding:0 80px;
    display: flex;
    flex-direction: column;

    align-items:flex-start;
    justify-content: center;



}
#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    
    color: #088178;
}
#hero button{
    background-image: url(image/button.png);
    background-color:transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}


/* feature  */

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgb(0, 0green, 0.3blue);
    border: 1px solid #eee7de;
    border-radius: 6px;
    margin: 15px 0px;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgb(70, 62, 221,00.3);

}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#feature .fe-box image{
    width: 100%;
    margin-bottom: 10px;

}

#feature .fe-box:nth-child(2) h6{
background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8e2;
}
#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6{
   background-color: #fff2ef;
}

/* product section */

#product1{
    text-align: center;
    font-size: 30px;
    padding-bottom: 50ox;
}

#product1 .product-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
     box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
     margin: 15px 0;
     transition: 0.2s ease;
     position: relative;



}

#product1 .pro img{
    width: 100%;
    aspect-ratio:3/2 ;
    object-fit: contain;
    mix-blend-mode: color-burn;
    /* min-height: 300px;
    max-height: 300px; */
    border-radius: 20px;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.6);
}

#product1 .pro .description{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .description{
    color: #060606;
    font-size: 14px;
}
#product1 .pro .description h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 16px;

}

#product1 .pro .description i{
    font-size: 14px;
    color: rgb(243,181, 25);

}

#product1 .pro .fa-shopping-cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #688178;
    border: 1px solid #cce7d0;
    position: relative;
    bottom: 20px;
    right: -100px;
}


#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image:url(image/b2.jpg);
    width: 100%;
    height: 40vh;
    background-position: cover;
    background-position: center;
}

#banner h4{
    color: #fff2ef;
    font-size: 16px;

}
#banner h2{
    color:#fff2ef;
    font-size: 30px;
    padding: 10px;
}
#banner h2 span{
    color: #ef3636;
}

#banner button:hover{
    color: #fff;
    background-color: #088178;
}


#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image:url(image/b17.jpg);
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    
}

#sm-banner .banner-box2{
    background-image: url(image/b10.jpg);
}
#sm-banner h4{
    color: #fff;
    font-size: 20px;
    font-weight:300;

}
#sm-banner h2{
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button{
    background-color: #088178;
    border:1px solid #088178;
}


#banner3{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(image/b7.jpg);
   

    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;

}

#banner3 .banner-box2{
    background-image: url(image/b4.jpg);
}

#banner3 .banner-box3{
    background-image: url(image/b18.jpg);
}

#banner3 h2{
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3{
    color: #ec544e;
    font-weight: 800;
    font-size: 15px;
}


#newslatter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(image/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newslatter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}
#newslatter p{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
#newslatter p span{
    color: #ffb65f;
}

#newslatter .form{
    display: flex;
    width: 46%;
}

#newslatter input{
    height: 3.15rem;
    padding: 01.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}

#newslatter button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;

}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}
footer .follow{
    margin-top: 20px;

}
 
footer .follow i{
    color: #465652;
    padding-right: 4px;
    cursor: pointer;
}
footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}
footer .install img{
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover{
    color: #088178;
}
footer .copyright{
    width: 100%;
    text-align:center;
}

/* Shop Page */

#page-header{
    background-image: url(image/b1.jpg);
    height: 40vh;
    width: 100%;
    background-size: cover;
    display: flex;
    
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
#page-header p{

   color: #fff;

}


#pagination{


    display: flex;
    justify-content: center;
    align-items: center;
    
    

}

#pagination a{
  
     text-decoration: none;
     background-color: #088178;
    padding:18px 20px;
    border: 5px ;
    margin: 15px 10px;

    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}
#pagination a i{
    font-size: 16px;
    font-weight: 600;
}

/* single product  */


#prodetailes{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;

    
}




#prodetailes .single-pro-image{
    width: 40%;
    margin: 50px;
    
    
}

.small-img-group{
    display: flex;
    justify-content: space-between;
    
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
    border: solid #a2a7a6 2px;
}
 
#prodetailes .single-pro-details{

    width: 50%;
    padding-top: 30px;

}
#prodetailes .single-pro-details h4{
    padding: 40px 0 20px 0;
    
}
#prodetailes .single-pro-details h2{
    font-size: 26px;
}
#prodetailes .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetailes .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px; 
    margin-right: 10px;

}
#prodetailes .single-pro-details input:focus {
    outline: none;
}
#prodetailes .single-pro-details button{
    background: #088178;
    color: #fff;
}
#prodetailes .single-pro-details span{
    line-height: 25px;
}

/* blog page */

#page-header.blog-header{
    background-image:url(image/b19.jpg);
}


#blog{
    padding: 150px 150px 0 150px;
    
}

#blog .blog-box{

    display: flex;
    align-items: center;
    width:100% ;
    position: relative;
    padding-bottom: 90px;
}
#blog .blog-img{
    width: 50%;
    margin-right: 40px;
    
}

#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    
}
#blog .blog-details{
    width: 50%;
    
}

#blog .blog-details a{
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}
#blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -60px;
}

#blog .blog-details a:hover{
    color: #088178;
}
#blog .blog-details a:hover::after{
    background-color: #088178;
}
#blog .blog-box h1{
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -9;
}

/* aboutUs page */

#page-header.about-header{
    background-image: url(image/banner.png);
}


#about-head{
    display: flex;
    align-items: center;
    
}

#about-head img {
    width: 50%;
    height: auto;
}

#about-head div{
    padding-left: 40px;
}


#about-app{
    text-align: center;
}

#about-app .video{
    width: 70%;
    height: 100%;
    margin: 30px  auto 0 auto;
}

#about-app .video video{
    width: 100%;
    height:200%;
    border-radius: 20px;
}


/* contact us page */


#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-details .details{
  
    width: 40%;
}

#contact-details .details span{
    font-size: 12px;
}

#contact-details .details h2{
    font-size: 26px;
    line-height: 35px;
    padding:20px;
}

#contact-details .details h2{
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i{
   font-size: 14px;
   padding-right: 22px;

}
#contact-details .details li p{
    margin: 0;
    font-size: 14px;
}

#contact-details .map{
    width: 55%;
    height: 400px;
}

#contact-details .map iframe{
    width: 100%;
    height: 100%;
}



#form-details{
    display: flex;
    justify-content: space-around;
    margin: 30px;
    padding: 80px;
    align-items: center;
    border: 1px solid #e1e1e1;
}


#form-details form{

    width: 65%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;

}

#form-details form span{
    font-size: 12px;
}

#form-details form {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;

}
#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button{
    background-color: #088178;
    color: #fff;
}

#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;

}


#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

/* Cart page  */

#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img{
    width: 70px;
}

#cart table td:nth-child(1){
    width: 100px;
    text-align: center;

}
#cart table td:nth-child(2){
    width: 150px;
    text-align: center;

}
#cart table td:nth-child(3){
    width: 250px;
    text-align: center;

}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;

}

#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td{
    padding-top: 15px;
}

#cart table tbody td{
    font-size: 13px;
}


#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
}

#coupon{
    width: 50%;
    margin-bottom: 30px;

}

#coupon h3{
    padding-bottom: 15px;
}

#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}
#coupon button{
    background-color: #088176;
    color: #fff;
    padding: 12px 20px;
}

#Subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}
#Subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;

}

#Subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e2;
    padding: 10px;
    font-size: 13px;
}

#Subtotal h3{
    padding-bottom: 15px;
}

#Subtotal button{
    background-color: #088178;
    color: #fff;
    padding: 12px 20px;
}




/* login page */

  body.login-body,
  .create-account-body{
    
    background-image: url(image/3d-illustration-smartphone-with-products-coming-out-screen-online-shopping-e-commerce-concept_58466-14529.avif);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top 35%  right 0;
    width: 100%;

}
.logo{
    text-align: center;
    margin-top: 60px;
    
    
}
#login{
    
    justify-content: center;
    text-align: center;
    padding: 30px;
    border: 1px solid wheat;
    width: 400px;;
    height: 50%;
    border-radius: 10px;
    margin:10px auto;
    box-shadow:10px 10px 54px rgb(190, 233, 162) ;
    
    
    
}

#login form{
     display: flex;
    flex-direction: column;

    
  
  align-items: center;
  justify-content: center;
    
    
    
}
#login h2{
    margin: 40px;
}

#login form input{
    
    width: 300px ;
    margin-bottom:30px;
    line-height: 3;

    border-radius: 10px;
}
#login form button,
#create form button{
    width: 150px;
    margin-top: 50px;
    border-radius: 20px;
}
#login form button:hover{

    color: #fff;
    background-color: #088178;

}

#login .create {
    display: flex;
    
    justify-content: space-around; 

    
}

#login .create span{
    margin: 50px auto;
}

#login .create a{
    margin-left: 50px;
    text-decoration: none;
    color: #000;
    
    border-radius: 5px;
}

/* create Account page */




#create{
    justify-content: center;
    text-align: center;
    padding: 30px;
    border: 1px solid wheat;
    width: 500px;
    
    border-radius: 10px;
    margin:10px auto;

    box-shadow:10px 10px 54px rgb(190, 233, 162) ;
}
#create .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#create form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
     

    width: 100%;
    
    border-radius: 10px;
    box-shadow:10px 10px 54px rgb(190, 233, 162) ;
    

}
#create form input{
    width: 300px;;
    height: 35px;
    margin:15px 5px;
    border-radius: 10px;

}
.div1{

    
    width: 100%;
    display: flex;
    justify-content:space-evenly;
}



#create form div input{
    width: 300px;
    height: 35px
    
}
#create form div input[type=checkbox]{
    width: 25px;
}

.div2{
    align-self: flex-start;
    width: 100%; 
    text-align: left; 
    padding-left: 0; 
    margin-left: 0; 
}


#create form button{
    
    width: 150px;
    margin:0px 30%;
    margin-bottom: 20px;
    
    
}
form button:hover{
    color: #fff;
    background-color: #088178;
}


#create .create {
    display: flex;
    
    justify-content: space-around; 

    
}
#create .create span{
    margin: 50px 100px;
}
#create .create a{
    text-decoration: none;
    color: #000;
    
    border-radius: 5px;
}
#create .create a:hover{
    color:#088178;
}








@media (max-width:799px){

    .section-p1{
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
       transition: 0.3s; 

    }
    #navbar.open{
        right: 0px;
        
    }

    #navbar li{
        margin-bottom: 25px;
    }

    #mobile{
        display:flex;
        align-items: center;
    }
    #mobile i{
        color: #1a1a1a;
        font-size:24px;
        padding-left: 20px;
    }

    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
    #lg-bag{
        display: none;
    }

    #hero {
        
        height: 70vh;
        background-position: top 30% right 30%;
        padding: 0 80px;
        
    }

    
    #feature{
        justify-content: center;
    
    }
    #feature .fe-box{
        margin: 15px 15px;
    }

    #product1 .product-container{
        justify-content: center;
    }
    #product1 .pro{
        margin: 15px;
    }
    #banner{
        height: 20vh;
    }
    #sm-banner .banner-box{
        min-width: 100%;
        height: 30vh;
    }

    #banner3{
        padding: 0 40px;
    }
    #banner3 .banner-box{
        width: 28%;
    }
    #newslatter .form{
        width: 70%;
    }
  

    /* contect page */

    #form-details {
       
        padding: 40px;
        
    }
   

    #form-details form {
        width: 50%;
        
    }


    /* cart page */

    #cart {

        overflow-x: auto;
    }


}







@media (max-width:477px){
    
    #section-p1{
        padding: 20px 20px;
    }
    #haddder{
        padding: 10px 30px;
    }
    
    h1 {
        font-size: 38px;
    }
    h2 {
        font-size: 32px;
    }

    #hero{
        padding: 0 20px;
        background-position: 55%;
    }
    #feature{
        justify-content: space-between;
    }

   #feature .fe-box{
    width: 155px;
    margin: 0 0 15px 0;
   }

   #product1 .pro{
    width:100%;
   }

   #banner{
    height: 40vh;
   }
   #sm-banner .banner-box{
    height: 40vh;
   }
   #sm-banner .banner-box2{
    margin-top: 20px;
   }

   #banner3{
    padding: 0 20px;
   }

   #banner3 .banner-box{
    width: 100%;
   }

   #newslatter{
    padding: 40px 20px;
   }

   #newslatter .form{
    width: 100%;
   }

   #footer .copyright{
    text-align: start;
   }


   /* singal product */

   #prodetailes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

 #prodetailes .single-pro-image{
    width: 100%;
    margin-right: 0;
 }

 #prodetailes .single-pro-details {
    width: 100%; 
}


/* blog page */

#blog{
    padding:10px 20px 0 20px;
    margin-top: 60px;
}

#blog .blog-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#blog .blog-img {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
}
#blog .blog-details {
    width: 100%;
}

/* about page */

#about-head {
    
    flex-direction: column;
    
}

#about-head img {
    width: 100%;
    margin-bottom: 20px;
}

#about-head div {
   padding-left: 0px;
}

#about-app .video {
    width: 100%;
    
}


/* contect page */

#contact-details {
    
    flex-direction: column;
    
}

#contact-details .details {
    width:100%;
    margin-bottom: 30px;
}

#contact-details .map {
    width: 100%;
    
}

#form-details {
   
    margin: 10px;
    padding: 30px 10px;
    
    flex-wrap: wrap;
}
#form-details form {
    width: 100%;
    margin: 30px;
    
}


/* cart page */

#cart-add {
    
    flex-direction: column;
}

#coupon {
    width: 100%;
    
}

#Subtotal {
    width: 100%;
    padding: 20px;

    
}


}


